@media(max-width:1440px){
    .brand-txt {
    flex: 6;
}

.brand-img{
    flex: 5;
}

.brand-txt h1 {
    font-size: 3.7rem;
    line-height: 1.2;
    font-weight: var(--font-normal);
}

.txt-story{
    flex: 710;
    padding-left: 0rem;
}

.story-2 .txt-story{
    padding-left: 0;
    padding-right: 6rem;
}

}