.brand-banner{
    padding-top: var(--space-3x-large);
    display: flex;
    gap: var(--space-normal);
    justify-content: space-between;
}

.brand-txt {
    /* flex: 7; */
    flex-basis: 56%;
}

.brand-img{
    /* flex: 5; */
    flex-basis: 40%;
}

.brand-txt h1 {
    font-size: 3.9rem;
    line-height: 1.2;
    font-weight: var(--font-normal);
}

.brand-txt h2{
    margin: var(--space-2x-large) 0;
}

.brand-txt h2+p{
    margin-bottom: var(--space-x-small);
}

.brand-txt h2+p+p{
    margin-bottom: var(--space-x-small);
}



