@media(max-width:1440px){
    main{
        margin-top: 94px;
    }
    .header-smart{
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 10000;
    }
    header.fold~main{
        margin-top: 94px;
    }
}