.btn-1{
    border: 1px solid var(--mellow-yellow-main);
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #fff;
    font-size: 0.8rem;
}

.btn-1:hover{
    background-color: var(--mellow-yellow-main);
    color: #fff;
}

.btn-1:active{
    color: var(--mellow-yellow-700);
}