header{
    font-size: 0.9rem;
    overflow: hidden;
    max-height: 120px;
    transition: all 0.5s ease 0s;
    background-color: #231F20;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}
header.fold{
    transform: translateY(-84px);
    transition: all 0.6 ease 0s;
}

header::after{
    content: "";
    position: absolute;
    width: 100%;
    background: var(--mellow-yellow-main);
    height: 35px;
    left: 0;
    top: 85px;
    box-shadow: 0 2px 5px #121212;
    z-index: -1;
}

header:hover{
    max-height: 600px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top>*{
    flex: 1;
}

.logo{
    display: flex;
    justify-content: center;
}

.sns{
    display: flex;
    gap:var(--space-normal);
}

.sns img{
    height: 1.2rem;
}

.lnb{
    display: flex;
    gap:var(--space-normal);
    justify-content: flex-end;
    font-size: 0.8rem;
    color: #fff;
}

.header-bottom{
    padding-bottom: var(--space-x-large)
}

.gnb{
    display: flex;
    justify-content: center;
    gap: var(--space-x-large);
    color: #fff;
}


.gnb>li>a{
    display: block;
    padding: var(--space-x-small) 0;
    font-weight: var(--font-strong);
}

.gnb>li>a:hover{
    color: #000;
}

.gnb ul{
    padding-top: var(--space-normal);
    display: flex;
    flex-direction: column;
    gap: var(--space-normal);
    font-size: 0.8rem;
}

header a:hover{color: var( --mellow-yellow-main);}
header .header-bottom .gnb li ul li:hover
{border-bottom: 1px solid var(--mellow-yellow-main);}

.logo img{height: 5rem;}
.btn-all-menu img{height: 1.2rem;}
.header-smart{display: none;}
.hidden-gnb{display: none;}


@media(max-width:1440px){
    /* tab 디자인 */
    .pc{display: none;}
    .header-smart{
        display: block;
        background-color: #231F20;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 10000;
    }

    .header-smart .common-frame{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-smart .common-frame:before{
        content: "";
        flex: 1;
    }

    .header-smart .common-frame>*{
        flex: 1;
    }

    .btn-all-menu{
        text-align: right;
    }

    .hidden-gnb{display: block;
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-100%);
    transition: all 0.7s ease 0s;
    z-index: 20000;
    }

    .hidden-gnb.on{
        transform: translateX(0%);
    }

    .hidden-gnb>*{
       flex-shrink: 0;
    }

    .hg3{
        max-height: 400px;
        overflow: auto;
    }

    .hg1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0;
    }

    .btn-close img{
        height: 1.2rem;
    }

.hg2{
    background-color: var(--mellow-yellow-main);
}

.hg2 ul{
    color: var(--mellow-yellow-main);
    display: flex;
    gap:var(--space-normal);
    color: #fff;
}

.hg2 ul a{
    display: inline-block;
    padding: 1rem 0;
}

.gnb-smart{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--space-2x-large,3rem) var(--space-normal,1rem);
    padding: var(--space-2x-large,3rem) 0;
}

.gnb-smart>li{
    display: flex;
    flex-direction: column;
    gap: var(--space-x-large,2rem);
}

.gnb-smart>li>a{
    color:var(--mellow-yellow-main);
    font-weight: var(--font-strong);
    font-size: 0.9rem;
}

.gnb-smart ul{
    display: flex;
    flex-direction: column;
    gap: var(--space-normal,1rem);
    font-size: 0.8rem;
}

.hg4{
    padding: var(--space-x-large) 0;
}

.hg4 .sns{
    justify-content: flex-end;
}

@media (max-width:768px){
    .gnb-smart{display: block;}

.gnb-smart>li{
    max-height: 40px;
    overflow: hidden;
    gap: var(--space-normal);
    transition: all 0.5s ease 0s;}
}

.gnb-smart>li.on{max-height: 400px;}

.gnb-smart>li.on>a{color: var(--mellow-yellow-main);
border-bottom: 1px solid var(--mellow-yellow-main);}

.gnb-smart>li>a{
    color: #000;
    border-bottom: 1px solid #000;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.gnb-smart>li>a::after{
    content: "";
    height: 1.2rem;
    aspect-ratio: 1/1;
    background: url("../img/arrow_down.svg") no-repeat 50% 50% / contain;
}

.gnb-smart>li.on>a::after{
    background: url("../img/arrow_up.svg") no-repeat 50% 50% / contain;
    }
}