@media (max-width:768px){
    .banner-product{
        height: 100vh;
    }

    .product .slider-container{
    justify-content: flex-start;
    }

    .list-product{
    grid-template-columns: repeat(2,1fr);
}
}