@media  (max-width:768px){
    .pc-slide{display: none;}
    .mobile-slide{display: block;}
    .tab-slide{display: none;}
    .mobile-slide{
        width: 100; height: 100; object-fit: cover;
    }
    main{
        margin-top: 74px;
    }

    header.fold~main{
        margin-top: 74px;
    }

    .banner-cake{height: 582px;}

    .off-store{
        flex-direction: column;
        gap: 3rem;
    }

    .off-store figure{
    width: auto;
    flex-shrink: 0;
    aspect-ratio: 365/218;
    }

    .off-store section{
        text-align: center;
    }

    .off-store h1{
    padding-top: 0rem;
    }
}