@media  (max-width:768px){
    .pc-slide{display: none;}
    .mobile-slide{display: block;}
    .tab-slide{display: none;}
    .mobile-slide{
        width: 100; height: 100; object-fit: cover;
    }
    

    .banner-cake{height: 582px;}

    .off-store{
        flex-direction: column;
        gap: 3rem;
    }

    .off-store figure{
    width: auto;
    flex-shrink: 0;
    aspect-ratio: 365/218;
    }

    .off-store section{
        text-align: center;
    }

    .off-store h1{
    padding-top: 0rem;
    }

    .news{
    flex-direction: column;
    gap: var(--space-x-large);
    }

    .news-list li a {
    max-width: 130px;
    }

    .news-title{
        text-align: center;
    }

    .benefit{
        flex-direction: column-reverse;
        gap: var(--space-x-large);
        text-align: center;
    }
}